body{
    margin: 30px;
}

.details{
    display: flex;
    /* margin-left: 30px; */
    padding-top: 30px;
}
#Name1{width:20px;}
#name{width:250px;}
.star::after{ 
    content:'*';
    color:red; }

#Name2{margin-left: 260px;
padding-top: 24px;;
}
#name2{width:250px;}

.details2{
    display: flex;
}
.star2::after{ content:'*';color:red; }
#name3{width:535px}  ; 
.star5{

}
.rate {
float: left;
height: 26px;
padding: 0  ;
}
.rate:not(:checked) > input {
position:absolute;
top:-9999px;
}
.rate:not(:checked) > label {
float:right;
width: 20%;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:40px;
color:#ccc;
}
.rate:not(:checked) > label:before {
content: '★ ';
}
.rate > input:checked ~ label {
color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
color: #c59b08;
}
.star5{padding-top:30px;}
.star4{
font-size: 16px;
}
.star4::after{
content:'*';
    color:red;
}
#o1{
margin-top: 60px;
font-size:small;}

#tt::after{
    content:'*';
    color:red;
}
#tt2::after{
    content:'*';
    color:red;
}
#tt2{
    padding-top: 5px;
}
#tt3{
    padding-top: 5px;

}
.button{
    width: 100px;
    height: 50px;
    margin-top: 5px;
    border: 2px grey;
}